// -----------------
// CSS Vars
// -----------------

$header: var(--header);



// -----------------
// Colors
// -----------------

$white: #FFFFFF;

$black: #171717;
$black-light: #242424;

$amber: #F5900D;
$amber-dark: #B76700;

$gray: #D9D9D9;
$gray-dark: #5D5D5D;
$gray-light: #F1F1F1;



// -----------------
// Responsive
// -----------------

$md: 1280px;
$sm: 768px;

@mixin lg {
    @media not screen and (max-width: $md) { @content }
}
@mixin md {
    @media (max-width: $md) and (not (max-width: $sm)) { @content }
}
@mixin sm {
    @media (max-width: $sm) { @content }
}
@mixin lg-md {
    @media not screen and (max-width: $sm) { @content }
}
@mixin md-sm {
    @media (max-width: $md) { @content }
}



// -----------------
// Helpers
// -----------------

@mixin hover {
    &:active { @content }
    @media (hover: hover) { &:hover { @content }}
}



// -----------------
// Exports
// -----------------

:export {

    md: $md;
    sm: $sm;

    grayLight: $gray-light;
    grayDark: $gray-dark;
    gray: $gray;
    black: $black;
    blackLight: $black-light;
    amber: $amber;
    amberDark: $amber-dark;

}