// -----------------
// Vars
// -----------------

:root {

    @include lg {
        --header: 96px;
    }

    @include md-sm {
        --header: 72px;
    }

}



// -----------------
// Reset
// -----------------

*,
*:before,
*:before {
    box-sizing: border-box;
}
body {
    margin: 0;
    color: $black-light;
    background: $white;
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: $text-sm;
    overflow-x: hidden;
}
svg {
    display: block;
    fill: currentColor;
}
a {
    display: block;
    text-decoration: none;
    color: inherit;
}
button {
    padding: 0;
    background: none;
    border: none;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    cursor: pointer;
}
p {
    margin: 0;
}
main {
    padding-top: $header;
}
img {
   display: block;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}