@import "tailwindcss";



/* -------------------
  Theme
------------------- */

@theme {

    --font-sans: Inter, sans-serif;

    --color-amber: #F5900D;
    --color-amber-dark: #B76700;
    --color-black: #171717;
    --color-black-light: #242424;
    --color-gray: #D9D9D9;
    --color-gray-light: #F1F1F1;

}



/* -------------------
  Base
------------------- */

@layer base {

    body { @apply
        text-black-light;
    }

    svg { @apply
        fill-current;
    }

}



/* -------------------
  Components
------------------- */

@layer components {

    .wrapper { @apply
        max-w-300
        mx-auto
    }

}