// -----------------
// Container
// -----------------

.container {

    margin-inline: auto;

    @include lg {
        max-width: 1440px;
        padding-inline: 120px;
    }

    @include md {
        max-width: 1088px;
        padding-inline: 32px;
    }

    @include sm {
        padding-inline: 24px;
    }

}



// -----------------
// Input
// -----------------

.input {
    display: block;
    width: 100%;
    border: 1px solid $gray;
    padding: 12px;

    &:focus {
        outline: none;
        border-color: $amber;
    }

}


// -----------------
// Modules
// -----------------

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
}

.blackout {
    position: fixed;
    inset: 0;
    background: rgba(36, 36, 36, .65);
}

