**
!package.json
!pnpm-workspace.yaml

# database
!packages/database

# directus
!packages/directus
packages/directus/extensions
packages/directus/uploads

# website
!packages/website/*.js
!packages/website/*.json
!packages/website/client/**
!packages/website/server/**

# ignore dirs
**/node_modules