.env
.idea
node_modules
apps/backend/extensions
apps/backend/uploads
!apps/backend/uploads/default.png
!apps/backend/uploads/service-cooperation.svg
!apps/backend/uploads/service-live.svg
!apps/backend/uploads/service-production.svg
!apps/backend/uploads/service-social.svg
apps/frontend/dist
