.env
.idea
node_modules

packages/directus/extensions
packages/directus/uploads/*
!packages/directus/uploads/default.png

packages/website/.nuxt
packages/website/.output
packages/website/node-compile-cache
packages/website/dist
